
.pre-scrollable-x {
  max-width: 340px;
  overflow-x: scroll;
}

 .modal-confirmation {


    .modal-dialog;

    width: 30%;
    margin-left: 30%;
    margin-top: 10%;

}

.alert-info.my-alert {
  text-align: center;
}

.my-accordion-a {
    display: block;
    text-decoration: none;
    outline: none;
}

.my-accordion-a:hover,
.my-accordion-a:focus
{
    text-decoration: none;
    outline: none;
    color: #333;
}

.panel-comparison-testsuite {
     display: none; 
}

.counter-results-unique {
    display: none;
}

th.no-tests-were-run {
    color: #aaa;
}

table.results-comparison td,
table.results-comparison th
{
    width: 48%;
}

.results-comparison-panel {
    overflow-x: scroll;
}