{% extends "base.html" %}


{% block customjs %}
<script type="text/javascript">

    $(document).ready(function() {

        document.body.style.cursor='wait';

        window.onload=function() {
            document.body.style.cursor='default';
        };

        window.removeSuiteWithConfirmation = function(project, sprint, component, suite) {

            $("#btnConfirmDeletion").click(function() {

                $("#div" +  suite).remove();

                var url = "/_delete_suite/" + project + "/" + sprint + "/" + component + "/" + suite;
                $.ajax({type: "DELETE", url: url});
            });

            $("#divBodyConfirmDeletion").text("Remove " + suite + "?");

            $("#ModalConfirmDeletion").modal();

        };

    });

</script>


{% endblock %}


{% block menu %}

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ project }} <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">

                {% for p in projects%}

                <li><a href="/manual/{{ p }}">{{ p }}</a></li>

                {% endfor %}

            </ul>
        </li>

        <li class="dropdown">

            {% if components %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ component }} <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">

                    {% for c in components%}
                    <li><a href="/manual/{{ project }}/{{ c.name }}">{{ c.name }}</a></li>
                    {% endfor %}

                </ul>
            {% else %}
                <a href="/manual/{{ project }}/{{ component }}">{{ component }} </a>
            {% endif %}

        </li>

{% endblock %}


{% block body %}

    <div class="alert alert-info my-alert">
        <a href="#" class="close" data-dismiss="alert" id="testinfo">&times;</a>
        <strong>Note:</strong> Click a suite name to see a list of tests. Click a test title to see a steps.
    </div>

    <div class="panel-group" id="accordion">

        {% for suite in data %}

            <div id="div{{ suite['name'] }}" class="panel panel-default">
                <div class="panel-heading">

                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ suite['name'] }}">

                        <button style="display:none" type="button" class="btnRemove btn btn-danger btn-xs" onclick='removeSuiteWithConfirmation("{{ project }}", "{{ sprint }}", "{{ component }}", "{{ suite.name }}")'>
                            <span class="glyphicon glyphicon-remove pull-left"></span>
                        </button>&nbsp;

                          {{ suite['name'] }}

                          <span class="badge pull-right">{{ suite['total'] }}</span>
                     </h4>
                </div>

                <div id="collapse{{ suite['name'] }}" class="panel-collapse collapse">
                    <div class="panel-body">

                        <table class="table">
                            <tr>
                                <th>Test ID</th>

                                <th>Title</th>

                            </tr>

                            {% for result in suite['rows'] %}

                                <tr class=success>
                                    <td>{{ result['test_id'] }}</td>

                                    <td data-toggle="modal" data-target="#Modal{{ suite['name'] }}{{ result['test_id'] }}">{{ result['subject'] }}</td>

                                </tr>

                                <div class="modal fade" id="Modal{{ suite['name'] }}{{ result['test_id'] }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabelModal{{ suite['name'] }}{{ result['test_id'] }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">{{result['test_id']}}: {{result['subject']}}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <pre>{{result['steps']}}</pre>
                                                <pre>{{result['expected_results']}}</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </table>
                    </div>
                </div>

            </div>

        {% endfor %}

    </div>


{% endblock %}
