{% extends "base.html" %}


{% block customjs %}
<script>
    var pageData = {project: "{{project}}", component: "{{ component }}"}
</script>
<script type="text/javascript" src={{ url_for('static', filename='files/js/traggr_manual_test_suites.js') }}></script>
{% endblock %}



{% block menu %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ project }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                {% for p in projects%}
                <li><a href="/manual/{{ p }}">{{ p }}</a></li>
                {% endfor %}
            </ul>
        </li>

        <li class="dropdown">
            {% if components %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ component }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for c in components%}
                    <li><a href="/manual/{{ project }}/{{ c.name }}">{{ c.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <a href="/manual/{{ project }}/{{ component }}">{{ component }} </a>
            {% endif %}
        </li>

{% endblock %}

{% block custom_ul_menu %}
    <ul class="nav navbar-nav navbar-right">
        <li id="liAdd"><a href="#">Add Test</a></li>
    </ul>
{% endblock %}

{% block body %}

    <div class="alert alert-info my-alert">
        <a class="close" data-dismiss="alert" id="testinfo">&times;</a>
        <strong>Note:</strong> Click a suite name to see a list of tests. Click a test title to see a steps.
    </div>

    <div class="panel-group" id="accordion">

        {% for suite in data %}
            <div id="div{{ suite['name'].replace(' ', '-') }}" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ suite['name'].replace(' ', '-') }}">
                        <button style="display:none" type="button" class="btnRemove btn btn-danger btn-xs" onclick='removeManualTestOrSuiteWithConfirmation("{{ component }}", "{{ suite.name }}")'>
                            <span class="glyphicon glyphicon-remove pull-left"></span>
                        </button>
                        <button style="display:none" type="button" class="btnEdit btn btn-primary btn-xs" onclick='editSuiteName(event, "{{ suite['name'] }}")'>Edit Suite</button>&nbsp;
                          {{ suite['name'] }}
                          <span class="badge pull-right">{{ suite['total'] }}</span>
                        <button type="button" class="btnAdd btn btn-primary btn-xs" onclick='addTestCase(event, "{{ component }}", "{{ suite.name }}")'>Add Test</button>
                     </h4>
                </div>

                <div id="collapse{{ suite['name'].replace(' ', '-') }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>Test ID</th>
                                <th>Title</th>
                            </tr>
                            {% for test in suite['rows'] %}
                                <tr class=success id="td{{ test['test_id'] }}">
                                    <td>
                                        <button style="display:none" type="button" class="btnRemove btn btn-danger btn-xs" onclick='removeManualTestOrSuiteWithConfirmation("{{ component }}", "{{ suite.name }}", "{{ test['test_id'] }}")'>
                                        <span class="glyphicon glyphicon-remove pull-left"></span>
                                        </button>
                                        <button style="display:none" type="button" class="btnEdit btn btn-primary btn-xs" onclick='editManualTest(event, "{{ test['test_id'] }}")'>Edit Test</button>
                                        {{ test['test_id'] }}
                                    </td>
                                    <td data-toggle="modal" data-target="#Modal{{ suite['name'].replace(' ', '-') }}{{ test['test_id'] }}">{{ test['title'] }}</td>
                                </tr>

                                <div class="modal fade" id="Modal{{ suite['name'].replace(' ', '-') }}{{ test['test_id'] }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabelModal{{ suite['name'].replace(' ', 'a') }}{{ test['test_id'] }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">{{test['test_id']}}: {{test['title']}}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <pre>{{test['steps']}}</pre>
                                                <pre>{{test['expected_results']}}</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </table>
                    </div>
                </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}
