{% extends "base.html" %}
{% block menu %}

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Projects <b class="caret"></b>
        </a>

        <ul class="dropdown-menu">
            {% for p in m_projects%}
                <li><a href="/manual/{{ p }}">{{ p }}</a></li>
            {% endfor %}

        </ul>
    </li>

{% endblock %}


{% block body %}

        <div class="col-md-6">

            <ul class="list-group">

                {% for m_project in m_projects %}
                    <li id="li{{ m_project }}" class="list-group-item">
                        <button id="btnRenameResults" style="display:none" type="button" class="btnRename btn btn-primary btn-xs" data-project="{{ project }}" data-results="{{ m_project }}">
                            <span class="glyphicon glyphicon-pencil pull-left"></span>
                        </button>&nbsp;

                        <button id="btnRemoveResults" style="display:none" type="button" class="btnRemove btn btn-danger btn-xs" data-project="{{ project }}" data-results="{{ m_project }}">
                            <span class="glyphicon glyphicon-remove pull-left"></span>
                        </button>&nbsp;

                        <a href="/manual/{{ m_project }}">{{ m_project }}</a>
                    </li>
                {% endfor %}

            </ul>

        </div>

{% endblock %}