{% extends "base.html" %}

{% block customjs %}

<script>
    var pageData = {project: "{{project}}", component: "{{ component }}", sprint: "{{ sprint }}"}
</script>
<script type="text/javascript" src={{ url_for('static', filename='files/js/traggr_manual_sprint_components.js') }}></script>
{% endblock %}

{% block menu %}

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ project }} <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">

                {% for p in projects%}

                <li><a href="/manual/{{ p }}">{{ p }}</a></li>

                {% endfor %}

            </ul>
        </li>

        <li class="dropdown">

            {% if sprints %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ sprint }} <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                    <li><a href="/manual/{{ project }}/sprint">All Sprints</a></li>
                    {% for s in sprints%}
                    <li><a href="/manual/{{ project }}/sprint/{{ s }}">{{ s }}</a></li>
                    {% endfor %}

                </ul>
            {% else %}
                <a href="/manual/{{ project }}/sprint/{{ sprint }}">{{ sprint }} </a>
            {% endif %}

        </li>

{% endblock %}

{% block custom_ul_menu %}
    <ul class="nav navbar-nav navbar-right">
        <li id="liSyncSprint"><a href="#">Sync Sprint Tests</a></li>
    </ul>
{% endblock %}

{% block body %}

                {% if components %}
        <div class="alert alert-info" on>
            <a href="#" class="close" data-dismiss="alert" id="testinfo">&times;</a>
            <strong>Note:</strong> Click a total failed tests badge to see a list of failed tests for all components.
        </div>

        <ul class="list-group">

                {% for component in components %}

                <li id="li{{ component.name }}" class="list-group-item">

                    <button style="display:none" type="button" class="btnRemove btn btn-danger btn-xs" onclick='removeComponentResultstWithConfirmation("{{ project }}", "{{ sprint }}", "{{ component.name }}")'>
                        <span class="glyphicon glyphicon-remove pull-left"></span>
                    </button>&nbsp;

                    <a href="/manual/{{ project }}/sprint/{{ sprint }}/{{ component.name }}">{{ component.name }}</a>

                    <span class="badge pull-right">{{ component.total }}</span>
                    {% if component.passed != 0 %}
                        <span class="badge alert-success pull-right">{{ component.passed }}</span>
                    {% endif %}
                    {% if component.failed != 0 %}
                        <span class="badge alert-danger pull-right">{{ component.failed }}</span>
                    {% endif %}

                </li>

                {% endfor %}


            <li class="list-group-item">Totals
                <span id="spanContextTotal" class="badge pull-right">{{ totals.total }}</span>
                {% if totals.passed != 0 %}
                    <span id="spanContextPassed" class="badge alert-success pull-right">{{ totals.passed }}</span>
                {% endif %}
                {% if totals.failed != 0 %}
                    <span id="spanContextFailed" class="badge alert-danger pull-right">{{ totals.failed }}</span>
                {% endif %}
            </li>
            {% endif %}
        </ul>

        {% if failed_tests %}

        <br>

        <div style="display:none" id="failedTestsList">
            <table class="table">

                <tr>
                    <th>Component</th>
                    <th>Suite</th>
                    <th>Test ID</th>
                    <th>Attributes</th>
                    <th>Title</th>
                    <th>Result</th>
                </tr>

                {% for result in failed_tests %}

                    <tr class="danger">

                        <td>{{ result.component }}</td>
                        <td>{{ result.suite }}</td>
                        <td>{{ result.test_id }}</td>

                        <td>
                            {% if 'attributes' in result %}
                                {% for key, value in result.attributes %}
                                    <small><span class="label label-default">{{ key }}: {{ value }}</span></small>
                                {% endfor %}
                            {% endif %}
                        </td>

                        <td>{{ result.title }}</td>
                        <td data-toggle="modal" data-target="#ModalError{{ result.component_modified }}{{ result.suite }}{{ result.test_id }}">{{ result.result }}</td>

                    </tr>

                    <div class="modal fade" id="ModalError{{ result.component_modified }}{{ result.suite }}{{ result.test_id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabelModalError{{ result.component_modified }}{{ result.suite }}{{ result.test_id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalErrorLabel">Error: {{ result.component }}: {{ result.suite }}: {{ result.test_id }}</h4>
                                </div>
                                <div class="modal-body">
                                    <pre>{{ result.error }}</pre>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </table>
        </div>

        {% endif %}

{% endblock %}
