{% extends 'base.html' %}
{% from 'macros.html' import render_test_results, render_grouped_test_results %}

{% macro component_badges(results) %}
    {% set badges = {} %}
    {% for r in results %}
        {% set dummy = badges.setdefault(r.component, 1) %}
    {% endfor %}
    {% for k in badges.keys()|sort %}
        <span class="label label-default">{{ k }}</span>
    {% endfor %}
{% endmacro %}

{% block menu %}

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ project }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {% for p in projects%}
                    <li><a href="/{{ p }}">{{ p }}</a></li>
                {% endfor %}
            </ul>
        </li>

        <li class="dropdown">
            {% if sprints %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ sprint }} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% for s in sprints%}
                    <li><a href="/{{ project }}/{{ s }}">{{ s }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <a href="/{{ project }}/{{ sprint }}">{{ sprint }} </a>
            {% endif %}
        </li>

        <li>
            <a id="toggleUniques" data-value="unique" href="javascript:void(0)">Uniquel Results</a>
        </li>

{% endblock %}


{% block body %}

    {# Heading #}
    <h4>Comparing <a href="/{{ project }}/{{ sprint }}">{{ sprint }}</a> with
            {% for s in compared_sprints %}
                {% if s != sprint %}<a href="/{{ project }}/{{ s }}">{{ s }}</a>{% if loop.index < (compared_sprints|length - 1) %},{% endif %}{% endif %}
            {% endfor %}
    </h4>

    {# Component selector #}
    <div class="panel panel-default">
        <div class="panel-heading">Select Components
            <button
                    type="button"
                    class="btn btn-info btn-sm" data-toggle="collapse"
                    data-target="#componentSelector">toggle</button></div>
        <table class="table collapse in" id="componentSelector">
            <thead>
                <tr>
                    {% for s in compared_sprints %}
                        <th>{{ s }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for s in compared_sprints %}
                        <td>
                            <div class="list-group" data-sprint="{{ s }}">
                                {% for c in component_stats[s].keys()|sort() %}
                                    {% if component_stats[s][c] %}
                                    <a class="list-group-item component-selector-item"
                                       data-cls="{{ components_css[(s,c)] }}">
                                        <span class="label label-danger">{{ component_stats[s][c] }}</span>
                                        {{ c }}
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    {# Actual testsuites #}
    <div class="panel panel-default results-comparison-panel">
    <table class="table results-comparison">
        <thead>
            <tr>
                {% for s in compared_sprints %}
                <th>{{ s }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for s in compared_sprints %}
                <td data-sprint="{{ s }}">
                    {% for component in comparison[s].keys()|sort %}
                    <div data-component="{{ component }}" class="panel panel-default panel-comparison-testsuite {{ components_css[(s, component)] }}">
                        <div class="panel-heading">
                            {{ component }}
                        </div>
                        <div class="panel-body">
                        {% for suite, results in comparison[s][component].iteritems() %}
                        <div class="comparison-testsuite" data-suite="{{ suite }}">
                            <h5>{{ suite }}</h5>
                            <ul class="list-group">
                                {{ render_test_results(results) }}
                            </ul>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    </div>


{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        var selectedClasses = {};
        var update_testsuites = function() {
            $('.comparison-testsuite').each(function(){
                if ($(this).find('.shown').length == 0) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        }

        var update_unique = function() {
            var elem = $('#toggleUniques');
            if (elem.attr('data-value') == 'unique') {
                elem.html('Unique Results');
                $('.test-result').hide();
                $('.test-result').removeClass('shown');
                $('.test-result.unique').show();
                $('.test-result.unique').addClass('shown');
                $('.counter-results-unique').show();
                $('.counter-results-all').hide();
            } else {
                elem.html('All Results'); 
                $('.test-result').show();
                $('.test-result').addClass('shown');
                $('.counter-results-unique').hide();
                $('.counter-results-all').show();
            }
            update_testsuites();
            update_location_hash();
        };


        $('#toggleUniques').click(function(){
            var elem = $(this);
            if (elem.attr('data-value') == 'all') {
                elem.attr('data-value', 'unique');
            } else {
                elem.attr('data-value', 'all');
            }
            update_unique();
        });

        var update_location_hash = function() {
            var hashpieces = {
                'components': '',
                'show': ''
            };
            var components = [];
            for (var i in selectedClasses) {
                components.push('.'+i);
            }
            if (components.length > 0) {
                hashpieces['components'] = components.join(',');
            }
            hashpieces['show'] = $('#toggleUniques').attr('data-value');
    
            var s = "";
            for (var i in hashpieces) {
                if (!hashpieces[i]) {
                    continue;
                }
                var elem = i + "=" + hashpieces[i];
                s += elem + ';';
            }
    
            console.log(s);
            window.location = '#'+s;
        };

        var refresh_components = function() {
            $('.panel-comparison-testsuite').hide();
            for (var i in selectedClasses) {
                var selector = '.' + i;
                $(selector).show();
                $(selector).addClass('shown');
            }
            update_testsuites();
            update_location_hash();
        };

        var select_cmp_selector = function(elem) {
            var already_selected = elem.hasClass('list-group-item-success');
            if (already_selected) {
                elem.removeClass('list-group-item-success');
                delete selectedClasses[elem.attr('data-cls')];
            } else {
                elem.addClass('list-group-item-success');
                selectedClasses[elem.attr('data-cls')] = true;
            }
            refresh_components();
        };

        $(document).ready(function(){
            var hsh = window.location.hash.replace(/^#/, '');
            if (!hsh) {
                refresh_components();
                update_unique();
                return;
            }
            var elems = hsh.split(';');
            for (var i in elems) {
                var piece = elems[i];
                var tuple = piece.split('=');
                if (tuple[0] == 'components') {
                    var s = tuple[1];
                    $(s).show();
                    var selectors = s.split(',');
                    for (var i in selectors) {
                        var curated = selectors[i].replace(/^\./, '');
                        selectedClasses[curated] = true;
                        $("a[data-cls='"+curated+"']").addClass('list-group-item-success');
                    }
                } else if (tuple[0] == 'show') {
                    $('#toggleUniques').attr('data-value', tuple[1]);
                }
            }
            refresh_components();
            update_unique();
        });

        $('a.component-selector-item').click(function(){
            select_cmp_selector($(this));
        });
    </script>
{% endblock %}

