{% extends 'base.html' %}
{% from 'macros.html' import testresult %}

{% macro css_component(comparison, sprint, component) %}s{{ sprint }}c{{ comparison.components[component] }}{% endmacro %}

{% block menu %}

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ project }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {% for p in projects%}
                    <li><a href="/{{ p }}">{{ p }}</a></li>
                {% endfor %}
            </ul>
        </li>

        {% for rl in ('left', 'right') %}
        {% set idx = loop.index %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span>Select a component</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {% for p in comparison.used_components(idx - 1) %}
                    <li><a class="component-selector {{ css_component(comparison, idx - 1, p) }}" data-sprint="{{ rl }}" data-cls="{{ css_component(comparison, idx - 1, p) }}" href="">{{ p }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
        <li><p class="navbar-btn" >
            <a class="btn btn-default" id="unique-switcher" data-value="all"><i class="glyphicon glyphicon-star-empty"></i> <span>All Results</span></a>
            </p>
        </li>

{% endblock %}


{% block body %}

    {# Heading #}
    <h4>
        <a class="btn btn-default" href="/{{ project }}/{{ sprint }}"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
        Comparing <a href="/{{ project }}/{{ sprint }}">{{ sprint }}</a> with <a href="/{{ project }}/{{ other_sprint }}">{{ other_sprint }}</a>
    </h4>

    {# Actual testsuites #}
    <table class="table results-comparison">
        <thead>
            <tr>
                <th>
                    <span class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ sprint }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% for s in sprints|sort %}
                            {% if s != sprint %}
                                <li><a href="/side-by-side/{{ project }}/{{ s }}/{{ other_sprint }}">{{ s }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </span>
                </th>
                <th>
                    <span class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ other_sprint }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% for s in sprints|sort %}
                            {% if s != other_sprint %}
                                <li><a href="/side-by-side/{{ project }}/{{ sprint }}/{{ s }}">{{ s }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </span>                    
                </th>
            </tr>
        </thead>
        <tbody>
            {% for suite, left, right in comparison.iter_all() %}{% if left|length + right|length > 0 %}
            <tr class="suite-header" data-suite="{{ suite }}">
                <th colspan="2">{{ suite }}</th>
            </tr>
            <tr class="suite-body" data-suite="{{ suite }}">
                <td class="list-group left-sprint">{% for result in left|sort(attribute='test_id') %}{{ testresult(result, 'has-component '~css_component(comparison, 0, result.component)) }}{% endfor %}</td>
                <td class="list-group right-sprint">{% for result in right|sort(attribute='test_id') %}{{ testresult(result, 'has-component '~css_component(comparison, 1, result.component)) }}{% endfor %}</td>
            </tr>
            {% endif %}{% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block customjs %}
    <script type="text/javascript">
    $(document).ready(function(){
        var window_parameters = {
        };
        function update_unique_button() {
            var el = $('#unique-switcher');
            if (window_parameters['show'] == 'unique') {
                el.attr('data-value', 'unique');
                el.find('i.glyphicon').removeClass('glyphicon-star-empty').addClass('glyphicon-star');
                el.find('span').html('Unique Results');
                hide_invisible();
            }
        }
        $('.component-selector').click(function(e){
            e.preventDefault();
            var ul = $(this).closest('ul');
            var li = $(this).closest('li');
            var a = ul.closest('li').find('.dropdown-toggle span');
            a.html($(this).html());
            var cls = $(this).attr('data-cls');
            window_parameters[$(this).attr('data-sprint')] = cls;
            select_components(window_parameters['left'], window_parameters['right']);
            hide_invisible();
            refresh_history();
        });
        function select_components(left, right) {
            var selector = 'table.results-comparison a.'+left+', table.results-comparison a.'+right;
            if (window_parameters['show'] == 'unique') {
                selector = 'table.results-comparison a.unique.'+left+', table.results-comparison a.unique.'+right;
            }
            $('.has-component').removeClass('visible');
            $(selector).addClass('visible');
        }
        $('#unique-switcher').click(function(){
            var el = $(this);
            if (el.attr('data-value') == 'all') {
                el.attr('data-value', 'unique');
                window_parameters['show'] = 'unique';
                el.find('span').html('Unique Results');
                el.find('i.glyphicon').addClass('glyphicon-star').removeClass('glyphicon-star-empty');
            } else {
                el.attr('data-value', 'all');
                el.find('i.glyphicon').addClass('glyphicon-star-empty').removeClass('glyphicon-star');
                el.find('span').html('All Results');
                window_parameters['show'] = 'all';
            }
            select_components(window_parameters['left'], window_parameters['right']);
            hide_invisible();
            refresh_history();
        });
        function hide_invisible() {
            $('tr.suite-body').each(function(){
                var coll = $(this).find('a.test-result.visible');
                var collen = coll.length;
                var s = $(this).attr('data-suite');
                if (!collen) {
                    $('tr[data-suite="'+s+'"]').hide();
                } else {
                    $('tr[data-suite="'+s+'"]').show();
                }
                $(this).find('a').hide();
                $(this).find('a.test-result.visible').show();
            });
        }
        function process_history() {
            var hsh = window.location.hash;
            if (!hsh) {
                return;
            }
            hsh = hsh.replace(/^#/, '');
            var components = hsh.split(';');
            for (var i in components) {
                var current_component = components[i];
                var elements = current_component.split('=');
                window_parameters[elements[0]] = elements[1] || true;
            }
            update_unique_button();
        }
        function refresh_history() {
            var buffer = [];
            for (var i in window_parameters) {
                buffer.push(i+'='+window_parameters[i]);
            }
            window.location.hash = '#'+buffer.join(';');
        }
        function window_make_visible() {
            if(window_parameters['left'] && window_parameters['right']) {
                $('.component-selector.'+window_parameters['left']).trigger('click');
                $('.component-selector.'+window_parameters['right']).trigger('click');
            }
        }
        process_history();
        window_make_visible();
        hide_invisible();
    });
    </script>
{% endblock %}

